*{
	box-sizing:border-box;
}
body{
	background-color:#e1e1e1;
	font-family:"helvetica neue","helvetica",arial,sans-serif,;
}
.leftSection{
	background-color:#fff;
	min-height:100vh;
	padding:0 4%;
}

.centerSection{
	padding: 5.8em 4% 0 4%;
}

.logo{
	color:#8a8a8a;
	font-weight:bold;
	font-size:1.3em;
	text-transform:uppercase;
	letter-spacing:.3em;
	margin:2em 0;
	text-align:center;
}

.logo span{
	background: -webkit-linear-gradient(135deg, #eee 0%, #000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1,
h2{
	font-weight:bold;
	color:#000;
}

h1{
	font-size:3em;
}

h2{
	font-weight:bold;
	font-size:1.2em;
	margin:2.5em 0 1em 0;
}

p,
ol,
ul{
	color:#757575;
	font-weight:300;
	line-height:1.6em;
}

ol,
ul{
	padding:0 3em;
}
a{
	cursor:pointer;
	text-decoration:underline;
}

a,
.faux-link{
	color:#2341b0;
	font-weight:bold;
}

.button{
	display:block;
	width:100%;
	margin:1em 0;
}

.button,
.btn
{
	text-align:center;
	background:#2341b0;
	border:0;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	padding:1em;
	border-radius:3px;
	box-shadow:0 0px 0px rgba(0,0,0,.3);
	transition: box-shadow .2s ease-in-out;
	-webkit-transition: box-shadow .2s ease-in-out;

}

.button-medium{
	max-width:300px;
}


.button:hover,
.button:focus,
.btn:hover,
.btn:focus{
	background:#2341b0;
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:underline;
	outline-color:#2341b0;
	color:#fff;
}

.modal-footer .btn+.btn{
	margin-left:0;
}

.help{
	text-align:center;
}

.helpButton{
	text-transform:uppercase;
	margin-bottom:1em;
	background:none;
	color:#2341b0;
	border:0;
	font-weight:bold;
	font-size:1.2em;
}

.helpButton:hover{
	text-decoration:underline;
}

.command{
	white-space:nowrap;
	margin:2em 0;
	color:#929292;
	font-weight:600;
	text-align:center;
}

.shortcut{
	display:inline-block;
	text-align:center;
	border:2px solid #2341b0;
	color:#2341b0;
	font-weight:bold;
	padding:1em 2em;
	margin-bottom:.5em;
	border-radius:10px;
}