.header {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 1em;
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
}

svg.downChevronIcon {
    width: 10px;
}

svg.searchIcon {
    width:10px;
}

.subNav__item {
    color: rgb(111, 111, 111);
    background-color: transparent;
    transition: all 500ms;

}

.flyOutMenu .subNav__item {
    color: rgb(111, 111, 111);
    transition: all 100ms;
}

.desktopNav__navItem {
    color: rgb(43, 47, 49);
    border: 1px solid transparent;
    transition: all 500ms;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    padding:1.5em .7em;
    margin-right: 1em;
}

.desktopNav_subMenu a{
    text-transform:none;
}

nav#wpjs-topNav {
    margin-left: 170px;
}

.desktopNav__subMenu {
    transition: height 500ms;
    background-color: #f3f3f3;
    top:17px;
    position: absolute;
    width: 200px;
    padding: 0px;
    padding-left: .7em;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
}

.hiddenPush {
    position:absolute;
    left:-10000px;
}

.subNav__item {
    position: relative;
    list-style: none;
    padding: 10px 0px;
    cursor:pointer;
}

html body .subNav__item a {
    color: #000 !important;
}

img.logoWrap__image.wpjs-logo {
    width: 150px;
    margin-top: 20px;
}

.flyOutMenu {
    position: absolute;
    left:188px;
    top:0px;
    width:200px;
    background:rgb(227, 227, 227);
}

.subNav__item:hover .flyOutMenu {
    display: block !important;
    position: absolute;
    left: 190px;
    top: 0px;
    width: 200px;
    background: rgb(227, 227, 227);
}

.desktopNav__navItem a {
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 500ms ease;
    cursor: pointer;
    font-family: Helvetica;
    color: #757575;

}

.desktopNav__navItem:hover > a {
    color:#2341b0 !important;
}

.desktopNav__navItem:hover {
    padding: 2.25em .7em .75em .7em
}


.desktopHeader__logo {
    float: left;
}

.desktopNav__navItemHasSubMenu {
    position: relative;
}

.desktopNav__navItemHasSubMenu > span {
     display: none;
    position: absolute;
    left: 0px;
    top: 46px;
 }

.desktopNav__navItemHasSubMenu:hover > span {
    display: block;
    position: absolute;
    left: 0px;
    top: 46px;
}

.searchWrap {
    float: right;
}

.flyOutMenu ul {
    padding-left: .7em;
    background: #eaeaea;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
}

html body li.subNav__item:hover > a {
    color: #2341b0 !important;
}
