<div>
  <h2 class="categoryTitle">Favorites (4)</h2>
  <ul class="productList productList--gridView">
    <li class="productList__product">
      <div class="product__itemImage clickable">
        <img src="images/orange.jpg" alt="Simply Orange Product Image"/>
      </div>
      <div class="product__itemContent">
        <div class="productInfo productDetails">
          <div class="productInfo__title clickable">
            <h3>Simply Orange</h3>
          </div>
          <span class="productInfo__size">1.75 L</span>
        </div>
        <div class="priceInfo">
          <span class="priceInfo__price">$5.09</span>
        </div>
        <div class="actions__alignmentContainer">
          <button class="actions__addToCart alignmentContainer__element" aria-label="Add Simply Orange to cart">Add</button>
        </div>
      </div>
    </li>
    <li class="productList__product">
      <div class="product__itemImage clickable">
        <img src="images/cheese.jpg" alt="Kraft Singles Cheese Slices Light Product Image"/>
      </div>
      <div class="product__itemContent">
        <div class="productInfo productDetails">
          <div class="productInfo__title clickable">
            <h3>Kraft Singles Cheese Slices Light</h3>
          </div>
          <span class="productInfo__size">24 pack</span>
        </div>
        <div class="priceInfo">
          <span class="priceInfo__price">$6.19</span>
        </div>
        <div class="actions__alignmentContainer">
          <button class="actions__addToCart alignmentContainer__element" aria-label="Add Kraft Singles Cheese Slices Light to cart">Add</button>
        </div>
      </div>
    </li>
    <li class="productList__product">
      <div class="product__itemImage clickable">
        <img src="images/ravioli.jpg" alt="Chef Boyardee Beef Ravioli Product Image"/>
      </div>
      <div class="product__itemContent">
        <div class="productInfo productDetails">
          <div class="productInfo__title clickable">
            <h3>Chef Boyardee Beef Ravioli</h3>
          </div>
          <span class="productInfo__size">425 g</span>
        </div>
        <div class="priceInfo">
          <span class="priceInfo__price">$1.99</span>
        </div>
        <div class="actions__alignmentContainer">
          <button class="actions__addToCart alignmentContainer__element" aria-label="Add Chef Boyardee Beef Ravioli to cart">Add</button>
        </div>
      </div>
    </li>
    <li class="productList__product">
      <div class="product__itemImage clickable">
        <img src="images/bagel4.jpg" alt="Dempster's 100% Whole Wheat Bagels Product Image"/>
      </div>
      <div class="product__itemContent">
        <div class="productInfo productDetails">
          <div class="productInfo__title clickable">
            <h3>Dempster's 100% Whole Wheat Bagels</h3>
          </div>
          <span class="productInfo__size">6 pack</span>
        </div>
        <div class="priceInfo">
          <span class="priceInfo__price">$5.19</span>
        </div>
        <div class="actions__alignmentContainer">
          <button class="actions__addToCart alignmentContainer__element" aria-label="Add Dempster's 100% Whole Wheat Bagels to cart">Add</button>
        </div>
      </div>
    </li>
  </ul>
</div>
