 <script>

        jQuery( document ).ready(function() {



            jQuery('.desktopNav__navItemHasSubMenu').each(function() {

                jQuery(this).on('keydown', function(e) {

                    var parentSpan = jQuery(this).find('.desktopNav__subMenu').parent();

                    if (parentSpan.hasClass('opened')) {
                        if (e.which == 13 || e.keyCode == 13) {
                            e.preventDefault();
                            parentSpan.hide();
                            parentSpan.removeClass('opened');
                        }
                    } else {
                        if (e.which == 13 || e.keyCode == 13) {
                            e.preventDefault();
                            parentSpan.show();
                            parentSpan.addClass('opened');
                        }
                    }


                });

                jQuery(this).on('click', function(e) {

                    var parentSpan = jQuery(this).find('.desktopNav__subMenu').parent();

                    if (parentSpan.hasClass('opened')) {
                        e.preventDefault();
                        parentSpan.hide();
                        parentSpan.removeClass('opened');
                    } else {
                        e.preventDefault();
                        parentSpan.show();
                        parentSpan.addClass('opened');
                    }
                });


            });



            jQuery('.subNav__item.hasFlyOut').each(function() {

                jQuery(this).on('keydown', function(e) {

                    var parentSpan = jQuery(this).find('.flyOutMenu');

                    if (parentSpan.hasClass('opened')) {
                        if (e.which == 13 || e.keyCode == 13) {
                            e.preventDefault();
                            e.stopPropagation();
                            parentSpan.hide();
                            parentSpan.removeClass('opened');
                        }
                    } else {
                        if (e.which == 13 || e.keyCode == 13) {
                            e.preventDefault();
                            e.stopPropagation();
                            parentSpan.show();
                            parentSpan.addClass('opened');
                        }
                    }

                });

                jQuery('.flyOutMenu a').each(function() {

                    jQuery(this).on('click', function() {
                        alert('You are beening redirected to the ' + jQuery(this).text() + " section!");
                    })

                })

                jQuery(this).on('click', function(e) {

                    var parentSpan = jQuery(this).find('.flyOutMenu');

                    if (parentSpan.hasClass('opened')) {

                        e.preventDefault();
                        e.stopPropagation();
                        parentSpan.hide();
                        parentSpan.removeClass('opened');

                    } else {

                        e.preventDefault();
                        e.stopPropagation();
                        parentSpan.show();
                        parentSpan.addClass('opened');

                    }

                });


            });



        });


    </script>
    
    <div class="header desktopHeader wpjs-header hiddenPush">
    <div class="headerContent">
        <div class="desktopHeader__logo">
            <img class="logoWrap__image wpjs-logo"
                 src="./images/logo_2_retina.png" alt="Logo"
                 style="cursor: pointer;" tabindex="1">
        </div>
        <nav role="menubar" id="wpjs-topNav" class="desktopHeader__desktopNav">
            <span>
                <span id="Home-noSubNav" class="desktopNav__navItem">
                    <a class="" tabindex="2" href="http://xpress.local" >Home</a>

                </span>
                <span id="Shop-hasSubNav" class="desktopNav__navItem desktopNav__navItemHasSubMenu">
                    <a class="" aria-label="Shop menu item with sub menu" aria tabindex="3" href="#" >Shop</a>

                    <span>

                        <ul id="ShopsubNavId" class="desktopNav__subMenu"><div
                                class="shop-menu subMenuInterior">
                            <li class="subNav__item hasFlyOut">
                                <a href="#" aria-label="Tops menu item with sub menu" tabindex="4">Tops</a>
                                <span class="flyOutChevron">
                                    <svg class="downChevronIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5" style="fill: rgb(111, 111, 111);">
                                        <path d="M1 0l3 3 3-3 1 1-4 4-4-4z" style="fill-rule: evenodd; opacity: 0.65;"></path>
                                    </svg>
                                </span>
                                <div class="flyOutMenu" style="display: none;">
                                <ul>
                                    <li class="subNav__item" >
                                        <a href="#" tabindex="5" >Jackets</a>
                                    </li>
                                    <li class="subNav__item" >
                                        <a href="#" tabindex="6" >Vests</a>
                                    </li>
                                    <li class="subNav__item" >
                                        <a href="#" tabindex="7" >T-Shirts</a>
                                    </li>
                                </ul>
                                </div>
                                                            </li>
                            <li class="subNav__item hasFlyOut">
                                <a href="#" aria-label="Bottoms menu item with sub menu" tabindex="8">Bottoms</a>
                                <span class="flyOutChevron">
                            <svg class="downChevronIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5" style="fill: rgb(111, 111, 111);">
                                <path d="M1 0l3 3 3-3 1 1-4 4-4-4z" style="fill-rule: evenodd; opacity: 0.65;"></path>
                            </svg>
                                </span>
                                <div class="flyOutMenu" style="display: none;">
                                <ul>
                                    <li class="subNav__item" >
                                        <a href="#" tabindex="9" >Pants</a>
                                    </li>

                                     <li class="subNav__item" >
                                        <a href="#" tabindex="10" >Shorts</a>
                                    </li>
                                </ul>
                                </div>
                            </li>
                            <li class="subNav__item" >
                                <a href="#" tabindex="11">Shoes</a>
                            </li>
                            <li class="subNav__item"  id="What--What-noSubNav">
                                <a href="#" tabindex="12">Accessories</a>
                            </li>
                        </div>
                        </ul>
                    </span>
                </span>
                <span id="Deals-noSubNav" class="desktopNav__navItem">
                    <a class="" tabindex="13" href="http://xpress.wpqa.mywebgrocer.com/circular/" >Deals</a>
                    <span>

                    </span>
                </span>
                <span id="Discover-hasSubNav" class="desktopNav__navItem desktopNav__navItemHasSubMenu">
                    <a class="" tabindex="14" aria-label="Discover menu item with sub menu" href="#" >Discover</a>
                    <span>

                        <ul id="DiscoversubNavId" class="desktopNav__subMenu">
                            <div class="discover-menu subMenuInterior">
                                <li class="subNav__item"  id="Sample-Page-noSubNav">
                                    <a href="#" tabindex="15">Our Community</a>
                                </li>
                                <li class="subNav__item"  id="home-Page-noSubNav">
                                    <a href="#" tabindex="16">About Us</a>
                                </li>
                                <li class="subNav__item" >
                                    <a href="#" tabindex="17">Custom Designs</a>
                                </li>
                            </div>
                        </ul>

                    </span>
                </span>
            </span>
        </nav>
    </div>
</div>