<span class="startSpan" style="margin-top:200px;display:block;"></span>
<div aria-label="beginning unit one" class="header desktopHeader wpjs-header hiddenPush">
    <div tabindex="1">beginning unit one. Use your keyboard to navigate the invisible header below.</div>
    <div class="headerContent">
        <div class="desktopHeader__logo">
            <img class="logoWrap__image wpjs-logo"
                 src="./images/logo_2_retina.png" alt="Logo"
                 style="cursor: pointer;">
        </div>
        <nav id="wpjs-topNav" class="desktopHeader__desktopNav">
            <span>
                <span id="Home-noSubNav" class="desktopNav__navItem">
                    <a class="" href="http://xpress.local" >Home</a>

                </span>
                <span id="Shop-hasSubNav" class="desktopNav__navItem desktopNav__navItemHasSubMenu">
                    <a class="" >Shop</a>
                    <span>

                        <ul id="ShopsubNavId" class="desktopNav__subMenu"><div
                                class="shop-menu subMenuInterior">
                            <li class="subNav__item">
                                <a>Tops</a>
                                <span class="flyOutChevron">
                                    <svg class="downChevronIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5" style="fill: rgb(111, 111, 111);">
                                        <path d="M1 0l3 3 3-3 1 1-4 4-4-4z" style="fill-rule: evenodd; opacity: 0.65;"></path>
                                    </svg>
                                </span>
                                <div class="flyOutMenu" style="display: none;">
                                <ul>
                                    <li class="subNav__item">
                                        <a >Jackets</a>
                                    </li>
                                    <li class="subNav__item">
                                        <a >Vests</a>
                                    </li>
                                    <li class="subNav__item">
                                        <a >T-Shirts</a>
                                    </li>
                                </ul>
                                </div>
                            </li>
                            <li class="subNav__item">
                                <a>Bottoms</a>
                                <span class="flyOutChevron">
                            <svg class="downChevronIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5" style="fill: rgb(111, 111, 111);">
                                <path d="M1 0l3 3 3-3 1 1-4 4-4-4z" style="fill-rule: evenodd; opacity: 0.65;"></path>
                            </svg>
                                </span>
                                <div class="flyOutMenu" style="display: none;">
                                <ul>
                                    <li class="subNav__item">
                                        <a >Pants</a>
                                    </li>

                                     <li class="subNav__item">
                                        <a >Shorts</a>
                                    </li>
                                </ul>
                                </div>
                            </li>
                            <li class="subNav__item">
                                <a>Shoes</a>
                            </li>
                            <li class="subNav__item" id="What--What-noSubNav">
                                <a>Accessories</a>
                            </li>
                        </div>
                        </ul>
                    </span>
                </span>
                <span id="Deals-noSubNav" class="desktopNav__navItem">
                    <a class="" href="http://xpress.wpqa.mywebgrocer.com/circular/" >Deals</a>
                    <span>

                    </span>
                </span>
                <span id="Discover-hasSubNav" class="desktopNav__navItem desktopNav__navItemHasSubMenu">
                    <a class="" >Discover</a>
                    <span>

                        <ul id="DiscoversubNavId" class="desktopNav__subMenu">
                            <div class="discover-menu subMenuInterior">
                                <li class="subNav__item" id="Sample-Page-noSubNav">
                                    <a>Our Community</a>
                                </li>
                            <li class="subNav__item" id="home-Page-noSubNav">
                                <a>About Us</a>
                            </li>
                            <li class="subNav__item">
                                <a>Custom Designs</a>
                            </li>
                            </div>
                        </ul>
                    </span>
                </span>
            </span>
        </nav>
    </div>
</div>