
<h1><span class="smallHeaderText">Unit 2:</span></br> Product Grid</h1>
<h2>Can you find it?</h2>

<p>In the pane on the right is an invisible product grid for a fictional store. You can access it with a screen reader like NVDA and your keyboard.
</p>
Using those tools, attempt to:
<ol>
    <li>Try to add cheese.</li>
    <li>Determine how many items there are.</li>
    <li>When you're done attempting to navigate this version of the product grid, click "continue lesson" to move on to phase 2.</li>
</ol>


