<a href="#" class="tocLink">Table of Contents</a>
<h1><span class="smallHeaderText">Unit 1:</span></br> Header</h1>
<h2>Goals of this Unit</h2>
<ol>
	<li>Learn what it's like to navigate using a screen reader.</li>
	<li>Understand inclusive design patterns that can be used in an inclusive header.</li>
	<li>Learn how to build a header a screen-reader accessible header that doesn’t compromise visual design.</li>
</ol>
<h2>Unit Overview</h2>
<ol>
	<li>Phase one: Complete a scavenger hunt while navigating a header that doesn't utilize inclusive design patterns.</li>
	<li>Phase two: Complete the same scavenger hunt while navigating a header that does utilize inclusive design patterns.</li>
	<li>Phase three: See the header revealed visually. The takeaway here is: We are not compromising visual functionality or design when using these inclusive design patterns.</li>
	<li>Phase four: See the code.</li>
</ol>