<h1><span class="smallHeaderText">Unit 1:</span></br> Header</h1>
<h1>Sometimes seeing isn't believing.</h1>
<p>In the pane on the right is an invisible navigation for a fictional store. You can access it with a screen reader like NVDA and your keyboard.</p>
<p>Using those tools, attempt to:</p>
<ol>
    <li>Determine what types of products this fictional store sells</li>
    <li>Shop for an item</li>
</ol>
<p>When you're done attempting to navigate this version of the header, click "continue lesson" to move on to phase 2.</p>