<a href="#" class="tocLink">Table of Contents</a>
<h1><span class="smallHeaderText">Unit 1:</span></br> Header</h1>
<h2>Goals of this Unit</h2>
<ul>
	<li>Understand inclusive design patterns that can be used in a header.</li>
	<li>Learn how to build a screen-reader accessible header that doesn’t compromise visual design.</li>
</ul>
<h2>Unit Overview</h2>
<ol>
	<li>Complete a scavenger hunt while navigating a header that doesn't utilize inclusive design patterns.</li>
	<li>Complete the same scavenger hunt while navigating a header that does utilize inclusive design patterns.</li>
	<li>See the header revealed visually. The takeaway here is: We are not compromising visual functionality or design when using these inclusive design patterns.</li>
	<li>See the code.</li>
</ol>